body{
    background-color: black;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size:17px ;
    font-family: 'Poppins';
    color: white;
}

.Logo{
    width: 300px;
    height: 210px;
    margin-left: -900px;
}

li{
    color: white;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}
header{
    padding: 1em;
    background-color: #000;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Poppins;
}

body{
    background-color: black;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size:17px ;
    font-family: 'Poppins';
    color: white;
}

.Logo{
    width: 34%;
    height: 190px;
    margin-left: -5px;
}

li{
    color: white;
    text-decoration: none;
    
}

a{
    color: white;
    text-decoration: none;
  
}

.lineHr{
    width: 50%;
    height: 1px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;

    background-color: rgba(240, 248, 255, 0.486);
}


.fundoContainTextImg{
    width: 80%;
    margin: auto;
    padding: 1.5em;

    background-color: #111;
}
.containTextImg{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    column-gap: 2%;
    align-content: space-between;
    align-items: center;

    width: 100%;
    height: 450px;
    margin: auto;
    padding-right: 1em;

    background-color: #111;

}

.titulo{
    width: auto;
    height: auto;
    margin: auto;
    margin: auto;
    margin-bottom: 3%;

}

.titulo h1{
    margin: auto;
    font-size: 2.5em;
}

.texto1{
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 1em;

}


.placeImgBraveEnterprise{
    position: relative;
    width: 100%;
    height: 450px;
    margin: auto;
    overflow: hidden;
    text-align: center;

    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;

}

.placeImgBraveEnterprise img{
    position: absolute;
    top: -43%;
    left: 9.5%;
    width: 80%;
    margin: auto;
    text-align: center;
}

.texto2{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 1rem;

}

.texto2 h4{
    font-size: 1.11rem;
    font-weight: 100;

}

.btnContato{
    grid-column-start: 2;
    grid-row-start: 4;
    width: 100%;
    text-align: center;
    margin: auto;
}
.btnContact{
    font-size: 1.15em;
    cursor: pointer;
    margin: auto;
    width: 35%;
    height: 50px;
    border: none;
    border-radius: 0.3em;
    color: #fff;
    background-color: #FF833E;
}
.btnContact:hover{
    background-color: #ee5706;
    transition: 0.1s linear;
}

.aniBtnLaranja{
    animation: clareiaLaranja 0.1s linear;
}

@keyframes clareiaLaranja {
    0%{
        background-color: #ee5706;
    }
    50%{
        background-color: #ffb48c;
    }
    100%{
        background-color: #ee5706;
    }
}


.espacamento{
    margin-top: 10% !important;
}

.containEquipe{
    position: relative;
    width: 90%;
    height: 520px;

    margin: auto;
    background-color: #111;
    padding: 0.5em;
}

.secao1{
    position: absolute;
    width: 100%;
    height: 240px;
    margin: auto;
    border-radius: 1em;
}

.secao2{
    position: absolute;
    bottom: 3%;
    width: 100%;
    height: 240px;
    margin: auto;
    border-radius: 1em;
}

.card{
    position: absolute;
    width: 17%;
    height: 240px;
    border-radius: 1em;
    margin: auto;
    overflow: hidden;

}
.card1{
    top: 0%;
    left: 20%;
    background-image: url(../img/Brave/Design\ sem\ nome.png);
    background-size: cover;
    background-position: 0;
}
.card2{
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    background-image: url(../img/Brave/Design\ sem\ nome.png);
    background-size: cover;
    background-position: 0;
}
.card3{
    top: 0%;
    right: 20%;

    background-image: url(../img/Brave/Design\ sem\ nome.png);
    background-size: cover;
    background-position: 0;
}
.card4{
    top: 0%;
    left: 10%;

    background-image: url(../img/Brave/Design\ sem\ nome.png);
    background-size: cover;
    background-position: 0;
}
.card5{
    top: 0%;
    left: 39.5%;
    transform: translateX(-50%);

    background-image: url(../img/Brave/Design\ sem\ nome.png);
    background-size: cover;
    background-position: 0;
}
.card6{
    top: 0%;
    right: 39.5%;
    transform: translateX(50%);

    background-image: url(../img/Brave/Design\ sem\ nome.png);
    background-size: cover;
    background-position: 0;
}
.card7{
    top: 0%;
    right: 10%;

    background-image: url(../img/Brave/Design\ sem\ nome.png);
    background-size: cover;
    background-position: 0;
}

.legenda{
    position: absolute;
    bottom: -25%;

    width: 100%;
    text-align: center;
    height: 50%;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.582);

}
.legenda h5{
    cursor: default;
    font-size: 1.2em;
    font-weight: 100;
}
.legenda h6{
    cursor: default;
    font-size: 0.8em;
    font-weight: 100;
}
.legenda:hover{
    bottom: 0;
    transition: 0.5s ease;
}

.btnGitLink{
    position: absolute;
    bottom: 5%;
    width: 90%;
    height: 45px;
    margin: auto;
}
.btnGit{
    width: 60%;
    height: 35px;
    margin: auto;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    background-color: rgba(17, 17, 17, 0.815);
}
.btnGit:hover{
    border: 2px solid #0f0;
    transition: 0.2s linear;
    background-color: rgba(1, 27, 0, 0.815);
}

footer{
    position: relative;
    width: 100%;
    height: 370px;
    margin: auto;


    background-image: url(../img/Brave/BravePretoEBranco.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0em 0em 1em 0em #000;
}
footer li{
    list-style: none;
    margin: auto;
    margin-bottom: 5%;
}
.capa{
    width: 100%;
    height: 100%;
    margin: auto;
    transition: 0.5s linear;
    padding-top: 1.5em;
}
.capa:hover{
    background-color: rgba(0, 0, 0, 0.637);
    transition: 0.5s linear;
}

.avisos{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    margin: auto;
    margin-top: 10em;
    text-align: left;

}
.avisos h3{
    text-indent: 3em;
    letter-spacing: 0.1em;
    margin-bottom: 1%;
}
.avisos p{
    font-size: 1em;
    margin: auto;
    width: 90%;
    text-align: justify;
}

.conteudoFooter{
    position: absolute;
    width: 100%;
    height: 60%;
    margin: auto;
}

.placePalavras{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: 31% 31% 31.5%;
    column-gap: 3%;
}

.secaoOpcoes{
    width: 100%;
    height: 100%;
    margin: auto;
}
footer h6{
    width: 70%;
    border-radius: 1em;
    margin: auto;
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 1px;
    transition: all 0.5s linear;
}
footer h5{
    text-align: left;
    margin: auto;
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 1px;
}
footer h6:hover{
    background-color: rgba(255, 255, 255, 0.267);
}


.secaoCriadorPag{
    width: 100%;
    height: 100%;
    margin: auto;
}
.secaoCriadorPag h6{
    font-size: 1.35em !important;
}

.secaoRedesSociais{
    width: 100%;
    height: 100%;
    margin: auto;
}

.containImgRedes img{
    margin: 0.02em;
    padding: 0.3em;
    border-radius: 1em;
}
.containImgRedes img:hover{
    cursor: pointer;
    filter: drop-shadow(0em 0em 0.5em);
}

@media  screen and (max-width: 500px) {
    
    header{
        width: 100%;
        margin: auto;
    }

    .Logo{
        width: 230px;
        height: 100px;
        text-align: center;
    }

    .lineHr{
    width: 60%;
    height: 1px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    }
    
    .titulo h1{
        margin: auto;
        font-size: 1.3em;
    }

    .containTextImg{
        display: block;
        position: relative;
    
        width: 100%;
        height: 600px;
        margin: auto;
    
        background-image: url(../img/Brave/BravePc3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
    
        overflow: hidden;
    }

    .placeImgBraveEnterprise{
        display: none;
    }

    
.texto1{
    position: absolute;
    top: 0;

    width: 100%;
    margin: auto;
    padding: 1.2rem;
    font-size: 0.9rem;
    text-align: justify;
    text-indent: 1rem;

    background-color: rgba(0, 0, 0, 0.726);
}

.texto2{
    position: absolute;
    top: 52.15%;
    width: 100%;
    height: 64.95%;
    margin: 0 auto;
    padding: 1em;
    font-size: 0.9em;
    text-align: justify;
    text-indent: 1em;

    background-color: rgba(0, 0, 0, 0.726);
}

.texto2 h4{
    font-size: 1em;
    font-weight: 100;

}

.btnContato{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
    margin: auto;

}
.btnContact{
    font-size: 1em;
    cursor: pointer;
    margin: auto;
    width: 52%;
    height: 43px;
    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
    color: #fff;
    background-color: #FF833E;
}





}