
  .container {
    border: 2px solid #ff823eb7;
    background-color: #FFEACA;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: abs;
    margin-top: 20%;
  }
  .container2 {
    border: 2px solid #ff823eb7;
    background-color:#FFEACA;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: absolute;
    margin-top: 300px;
  }
  .container3 {
    border: 2px solid #ff823eb7;
    background-color: #FFEACA;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: absolute;
    margin-top: 650px;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ff823efd;
    background-color:#ff823eef;
    margin-left: 600px;
    position: absolute;
    margin-top: 150px;
    border-radius: 35px;
  }
  .chatvictor1{
  margin-left: 30%;
  position: absolute;
  
  
      
  }
   /* Darker chat container */
   .darker2 {
    border-color: #ff823efd;
    background-color:#ff823eef;
    margin-left: 600px;
    position: absolute;
    margin-top: 470px;
    border-radius: 35px;
  }
  /* Darker chat container */
  .darker3 {
    border-color: #ff823efd;
    background-color: #ff823eef;
    margin-left: 600px;
    position: absolute;
    margin-top: 830px;
    border-radius: 35px;
  
  }
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: rgb(8, 3, 3);
  }
    
.button{
    border-radius:30px ;
    margin-top: -40px;
    border: 0;
    margin-left:340px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    
}
.button1{
    width: 35px;
    border-radius:50px ;
    margin-top: -40px;
    border: 0;
    margin-left:200px;
    background-color:#5CA7FD;
    position: absolute;
    
}

#divBusca{
  background-color: rgba(128, 128, 128, 0.185);
  border-color: #FF833E;
  border:solid 1px;
  border-radius:15px;
  width:500px;
  position: absolute;
  margin-left: 1%;
  margin-top:1.5%;
 
}

#divBusca{
  background-color: rgba(128, 128, 128, 0.185);
  border-color: #FF833E;
  border-radius:35px;
  width:550px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  margin-left: 5%;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}
.lupinha{
  width: 23px;
  margin-top: 2%;
  margin-left: 30%;
}
.nome{
  border: 2px solid #dedede48;
  background-color:#ff823e;
  padding: 10px;
  width: 1270px;
  margin-left:31%;
  position: absolute;
 
}
.fotonome{
  width: 80px;
  margin-left: -20%;
  position: absolute;
  border-radius: 30%;
 
}
.linha {
  width: 600px;
  height: 795px;
  margin-top: 3%;
  overflow: scroll;
  position: absolute;
  overflow-x: hidden;
  
}
.cuadrito{
  width: 1298px;
  height: 77%;
  overflow: scroll;
  position: absolute;
  right: 0%;
  overflow-x: hidden;
  background-image: url(../img/chat/grupo.jpeg);

}

.chat1{
  border-radius: 23px;
  background-color:rgba(170, 170, 170, 0.308);
  padding: 10px;
  margin: 10px ;
  width: 550px;
  margin-left: 5px;
  position: absolute;
  margin-top: 50px;
}
.chatrafa{
  width: 80px;
  margin-left: -45%;
  position: absolute;
  border-radius: 50%;
  margin-top: 1%;
}
.chatrafa1{
  width: 100px;
  margin-left: -17%;
  position: absolute;
  border-radius: 50%;
  margin-top: 1%;
}
.chat2{
  border: 2px solid #dedede;
  background-color:rgba(170, 170, 170, 0.308);
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
  width: 550px;
  margin-left: px;
  position: absolute;
  margin-top: 200px;
}
.chatvictor{
  width: 80px;
  margin-left: -45%;
  position: absolute;
  border-radius: 50%;
    }
.chat3{
  border: 2px solid #dedede;
  background-color:rgba(170, 170, 170, 0.308);
   border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
  width: 550px;
  margin-left: 5px;
  position: absolute;
  margin-top: 350px;
}
.chatcard{
  width: 65px;
  margin-left: -45%;
  position: absolute;
  border-radius: 60%;
  margin-top: -1%;
}
.chatcard1{
  width: 70px;
  margin-left: -47%;
  position: absolute;
  border-radius: 70%;
  margin-top: 1%;
}
.chatail{
  width: 80px;
  margin-left: 35%;
  position: absolute;
  border-radius: 70%;
  margin-top: 2%;

}
.chat4{
 border: 2px solid #dedede;
         background-color:rgba(170, 170, 170, 0.308);
          border-radius: 25px;
          padding: 10px;
          margin: 10px 0;
          width: 550px;
          margin-left: 5px;
          position: absolute;
          margin-top: 500px;
        }
        .chataline{
          width: 80px;
          margin-left: -45%;
          position: absolute;
          border-radius: 60%;
         
        }
        .chatbeno{
          width: 80px;
          margin-left: -45%;
          position: absolute;
          border-radius: 60%;
        }
        .chat5{
          border: 2px solid #dedede;
            background-color:rgba(170, 170, 170, 0.308);
            border-radius: 25px;
            padding: 10px;
            margin: 10px 0;
            width: 550px;
            margin-left: 5px;
            position: absolute;
            margin-top: 650px;
          }
          .sala{
          width: 90px;
          margin-left: -45%;
          position: absolute;
          border-radius: 60%;
          }
          .chatgu{
            width: 60px;
          margin-left: 35%;
          position: absolute;
          border-radius: 60%;
          margin-top: 3%;
          }
           .chat6{
            border: 2px solid #dedede;
              background-color:rgba(170, 170, 170, 0.308);
              border-radius: 25px;
              padding: 10px;
              margin: 10px 0;
              width: 550px;
              margin-left: 5px;
              position: absolute;
              margin-top: 800px;
              }
              .fotothami{
                width: 90px;
               margin-left: -45%;
               position: absolute;
               border-radius: 60%;

              }
.barrita{
  position: absolute;
  bottom: 2%;
  right: 0%;
  text-align: center;
  padding-top: 30px;
  width: 68%;
 
}
.input{
  border-radius: 35px;
  width: 60%;
  height: 35px;
  margin-left: 0px;
  background-color: rgba(128, 128, 128, 0.185);
  border-color: #FF833E;
  }
  .emoji{
  border-radius:30px ;
    margin-top: -45px;
    margin-left:-450px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    width: 50px;
  }








  @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");

  body{
      background-color: white;
      align-items: center;
      text-align: center;
      margin: 0;
  }
  
  .overlay {
      height: 69vh;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
  }
  
  .nav {
      background-color: white;
      padding: 12px 5px;
      box-shadow: 3px 3px 15px rgba(179, 179, 179, 0.185);
      position: relative;
      z-index: 99;
  }
  
  .tabs {
      display: flex;
      width: 530px;
      justify-content: space-around;
      list-style-type: none;
  }
  
  .tab {
      padding: 12px 22px;
      background-color: #e0efff;
      color: #58a6ff;
      margin-right: 15px;
      border-radius: 55px;
      text-align: center;
      white-space: nowrap;
      transition: 0.7s ease;
      overflow: hidden;
      max-width: 0px;
      cursor: pointer;
      position: relative;
      flex-basis: 120px;
  }
  
  .tab-is-active {
      max-width: 120px;
      box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
  }
  
  .tab:hover {
      max-width: 120px;
      box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
      position: relative;
  }
  
  .tab-is-active .tab-name {
      opacity: 1;
  }
  
  .tab-circle {
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      border: 2px solid #95c5fd;
      z-index: 10;
      opacity: 0;
      left: 20px;
      pointer-events: none;
  }
  
  .tab-icon {
      margin-right: 1px;
      font-size: 18px;
      vertical-align: middle;
      position: relative;
      right: 6.7px;
      top: -1px;
  
  }
  
  .tab-name {
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      top: 1px;
      opacity: 0;
  
  }
  
  .tab-calendar {
      background: #cffcff;
      color: #009ffb;
      left: 620px;
  
  }
  
  span.tab-team {
      background: #f1ddff;
      color: #8f44fd;
      width: 200px;
      margin-left: -10px;
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      top: -5px;
      left: 15px;
  
  
  }
  .tab-team {
      background: #f1ddff;
      color: #8f44fd;
      width: 200px;
      left: 620px;
  }
  
  
  
  .tab-home {
      background-color: #3ef00846;
      color: #35e77f;
      left: 620px;
  
      
  }
  span.tab-home {
      background-color: #3ef00800;
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #19E164;
      top: -5px;
      left: 15px;
      text-decoration: none;
      
  }
  
  
  .roxinho{
      width: 20px;
      margin-left: -8px;
      margin-top: 5px;
  }
  
  
  span.calendario{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #009ffb;
      top: -5px;
      left: 15px;
  
  }
  
  .calendario{
      width: 20px;
      margin-left: -08px;
      margin-top: 5px;
  
  
  }
  
  img.perfil{
      width: 60px;
      right: 8.5%;
      position: absolute;
      z-index: 2000;
  }
  img.perfil{
      cursor: pointer;
  }
  .sino{
      width: 20px;
      margin-left: -08px;
      margin-top: 5px;
  }
  span.sino{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #009ffb;
      top: -5px;
      left: 15px;
  
  
  }
  
  .tab-sino {
      background:#E0EFFD;
      color: #009ffb;
      left: 620px;
  }
  
  a{
      text-decoration: none;
  }
  
  .chat{
      width: 20px;
      margin-left: -08px;
      margin-top: 5px;
  }
  img.chat{
      width: 20px;
      margin-left: 8px;
      margin-top: 5px;
  }
  span.chat{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #FF833E;    
      top: 0px;
      left: 10px;
  
  }
  
  .tab-chat {
      background:#FFEACA;
      color: #FF833E;
      left: 620px;
      height: 30px;
  
  }
  
  
  img.tarefas{
      width: 22px;
      height: 22px;
      margin-left: -57px;
      margin-top: px;
      background: #ecd1dd00;
  
  }
  span.tarefas{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #d93479;
      top: 0px;
      background: #ecd1dd00;
      left: -85px;
  
  
  }
  .tab-tarefas {
      background: #ecd1dd;
      color: #d93479;
      left: 620px;
      height: 30px;
  }
  
  .dropDown{
      position: absolute;
      right: 3%;
      z-index: -1;
      overflow: scroll;
  
      width: 12.5%;
      height: 200px;
      margin: auto;
  }
  
  .dropDownPositionOpen{
      top: 8.3%;
      transition: 0.5s ease-in-out;
  }
  .dropDownPositionClose{
      top: -25%;
      transition: 0.5s ease;
  }
  .dropDown h5{
      font-size: 0.7em;
      cursor: pointer;
      border-radius: 1em;
      color: #000 !important;
      padding: 0.5em;
  }
  #sizeSair{
      font-size: 1em !important;
  }
  
  .dropDown a{
      list-style: none;
      text-decoration: none;
      color: #000;
  }
  
  .dropIcon{
      position: absolute;
      right: 6%;
      top: 50%;
      width: 35px;
      margin: auto;
      transform: rotate(90deg);
      border-radius: 50%;
      padding: 0.2em;
  }
  
  .dropIcon:hover{
      background-color: #dadada;
      cursor: pointer;
      transition: 0.2s linear;
  }
  
  .PlaceTextPerfil{
    position: absolute;
      width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
      padding-top: 0.5em;
  
  }
  
  .PlaceTextFormulario{
    position: absolute;
    top: 35%;
    width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
  
  }
  
  .PlaceTextSuporte{
      position: absolute;
      top: 60%;
      width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
  
  }
  
  .placeLinhaSeparar{
      position: absolute;

      bottom: -10%;
  
      width: 100%;
      margin: auto;
  }
  
  .linhaSeparar{
      margin: auto;
      width: 60%;
      height: 1px;
      background-color: #000;
  }
  
  .PlaceTextSair{
      position: absolute;
      bottom: -50%;
      width: 100%;
  }

  .dropDown h5:hover{
    background-color: #FF833E;
    transition: all 0.5s linear;
}

.dropDown{
  background-color: #FFEACA;
}




