body{
  overflow: hidden;
}
  .container {
    background-color: #52cbbf3d;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position:absolute;
    margin-top: 10%;

    clip-path: none;
  }
  .container2 {
   
    background-color: #52cbbf3d;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: absolute;
    margin-top: 40%;
  }
  .container3 {
    background-color:#52cbbf3d;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: absolute;
    margin-top: 70%;
  }
  
  /* Darker chat container */
  .darker {
    background-color: #52cbbf3d;
    margin-left: 600px;
    position: absolute;
    margin-top: 25%;
    border-radius: 35px;
  }
  .chatvictor1{
  margin-left: 30%;
  position: absolute;
  
  
      
  }
   /* Darker chat container */
   .darker2 {
    background-color: #52cbbf3d;
    margin-left: 600px;
    position: absolute;
    margin-top: 55%;
    border-radius: 35px;
  }
  /* Darker chat container */
  .darker3 {
    background-color:  #dedede;
    margin-left: 600px;
    position: absolute;
    margin-top: 85%;
    border-radius: 35px;
  
  }
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: rgb(26, 23, 23);
    
  }
  
  .bol{
    width: 5vh;
    margin-left: 34%;
    position: absolute;
    margin-top: -7%;
  }
  /* Style time text */
  .time-left {
    float: left;
    color: rgb(8, 3, 3);
  }
    
.button{
    border-radius:30px ;
    margin-top: -40px;
    border: 0;
    margin-left:340px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    
}
.button1{
    width: 35px;
    border-radius:50px ;
    margin-top: -40px;
    border: 0;
    margin-left:200px;
    background-color:#5CA7FD;
    position: absolute;
    
}

#divBusca{
  background-color: rgb(223, 223, 223);
  border-color: rgb(91, 88, 250);;
  border:solid 1px;
  border-radius:15px;
  width:500px;
  position: absolute;
  margin-left: 1%;
  margin-top:1.5%;
 
}

#divBusca{
  background-color: rgb(252, 247, 247);
  border-color: rgb(91, 88, 250);;
  border-radius:35px;
  width:550px;
  z-index: 2000! important;
}

#txtBusca{
  float:left;
  background-color:transparent;
  margin-left: 5%;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}
.lupinha{
  width: 23px;
  margin-top: 2%;
  margin-left: 30%;
 
}
.nome{

  background-color:rgb(91, 88, 250);;
  padding: 10px;
  width: 1270px;
  margin-left:32%;
  position: absolute;
 
}
.fotonome{
  width: 80px;
  margin-left: -20%;
  position: absolute;
  border-radius: 30%;
 
}
.linha {
  width: 600px;
  height: 795px;
  margin-top: 3%;
  overflow: scroll;
  position: absolute;
  overflow-x: hidden;
  
  
}
.cuadrito{
  width: 1298px;
  height: 78%;
  overflow: scroll;
  position: absolute;
  right: 0%;
  overflow-x: hidden;
  background-image: url();

}

.chat1{
  
  background-color:white;
  padding: 10px;
  width: 80%;
  height: 14vh;
  left: 15%;
  position: absolute;
  margin-top: 50px;
}
.chatrafa{
  width: 100px;
  margin-left: -45%;
  position: absolute;
  left: 33%;
  border-radius: 50%;
  margin-top: 5%;
}
.chatrafa1{
  width: 200px;
  margin-left: -70%;
  position: absolute;
  border-radius: 50%;
  margin-top: 1%;
}
.chat2{
  
  background-color:white;
  padding: 10px;
  width: 80%;
  height: 14vh;
  left: 15%;
  position: absolute;
  margin-top: 32%;
}
.chatvictor{
  width: 100px;
  position: absolute;
  left: -10%;
  border-radius: 50%;
  margin-top: 5%;
    }
.chatvictor1{
  width: 200px;
  margin-left: -70%;
  position: absolute;
  border-radius: 50%;
  margin-top: 1%;
    }
.chat3{
  
  background-color:white;
  padding: 10px;
  width: 80%;
  height: 14vh;
  left: 15%;
  position: absolute;
  margin-top: 57%;
}
.chatcard{
  width: 100px;
  position: absolute;
  left: -10%;
  border-radius: 50%;
  margin-top: 5%;
}
.chatcard1{
  width: 80px;
  margin-left: -73%;
  position: absolute;
  border-radius: 50%;
  margin-top: 1%;
}

.chat4{
  background-color:white;
  padding: 10px;
  width: 80%;
  height: 14vh;
  left: 15%;
  position: absolute;
  margin-top:89%;
}
.chataline{
  width: 100px;
  margin-left: -59%;
  position: absolute;
  border-radius: 60%;
 
}
.chatbeno{
width: 80px;
margin-left: -73%;
position: absolute;
border-radius: 60%;
          
}
.chat5{
  background-color: #dedede;
  padding: 10px;
  width: 98%;
  height: 14vh;
  left: 0%;
  bottom: 0;
  position: absolute
}
          .chatail{
            width: 70px;
            margin-left: -70%;
            position: absolute;
            border-radius: 70%;
            margin-top: 1%;
          }
          .sala{
          width: 120px;
          margin-left: -45%;
          position: absolute;
          border-radius: 50%;
          margin-top: 2%;
          }
          .chatgu{
            width: 60px;
          margin-left: 60%;
          position: absolute;
          border-radius: 60%;
          margin-top: 3%;
          
          }
           .chat6{
           
            background-color:white;
              
              padding: 10px;
              margin: 10px 0;
              width: 550px;
              margin-left: 5px;
              position: absolute;
              margin-top: 800px;
              }
              .fotothami{
                width: 100px;
               margin-left: -45%;
               position: absolute;
               border-radius: 60%;

              }
.barrita{
  position: absolute;
  bottom: 2%;
  right: 0%;
  text-align: center;
  padding-top: 30px;
  width: 68%;
 
}
.input{
  border-radius: 35px;
  position: posit;
  width: 60%;
  height: 35px;
  margin-left: 0px;
  background-color: rgb(218, 227, 231);
  border-color: rgb(91, 88, 250);;
  }
  .emoji{
  border-radius:30px ;
    margin-top: -45px;
    margin-left:-500px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    width: 50px;
  }
  .camera{
  width: 4vh;
  position: absolute;
  margin-left: 40%;
  margin-top: -3%;
  

  }
  .pontos{
  width: 4vh;
  position: absolute;
  margin-left: 45%;
  margin-top: -3.5%;
  }
  .nomegru{
  color: white;
  font-size: 2vh;
  }







  @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");

  body{
      background-color: white;
      align-items: center;
      text-align: center;
      margin: 0;
      font-family: 'Poppins';
  }
  
  .overlay {
      height: 69vh;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
  }
  
  .nav {
      background-color: white;
      padding: 12px 5px;
      box-shadow: 3px 3px 15px rgba(179, 179, 179, 0.185);
      position: relative;
      z-index: 99;
  }
  
  .tabs {
      display: flex;
      width: 530px;
      justify-content: space-around;
      list-style-type: none;
  }
  
  .tab {
      padding: 12px 22px;
      background-color: #e0efff;
      color: #58a6ff;
      margin-right: 15px;
      border-radius: 55px;
      text-align: center;
      white-space: nowrap;
      transition: 0.7s ease;
      overflow: hidden;
      max-width: 0px;
      cursor: pointer;
      position: relative;
      flex-basis: 120px;
  }
  
  .tab-is-active {
      max-width: 120px;
      box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
  }
  
  .tab:hover {
      max-width: 120px;
      box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
      position: relative;
  }
  
  .tab-is-active .tab-name {
      opacity: 1;
  }
  
  .tab-circle {
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      border: 2px solid #95c5fd;
      z-index: 10;
      opacity: 0;
      left: 20px;
      pointer-events: none;
  }
  
  .tab-icon {
      margin-right: 1px;
      font-size: 18px;
      vertical-align: middle;
      position: relative;
      right: 6.7px;
      top: -1px;
  
  }
  
  .tab-name {
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      top: 1px;
      opacity: 0;
  
  }
  
  .logoSeed{
      position: absolute;
      left: 0%;
      top: -2vh;
      width: 280px;
      margin: auto;
  }
  
  .tab-calendar {
      background: #52cbbf3d;
      color: #5B58FA;
      left: 620px;
  
  }
  
  span.tab-team {
      background: #52cbbf3d;
      color: #5B58FA;
      width: 200px;
      margin-left: -10px;
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      top: -5px;
      left: 15px;
  
  
  }
  .tab-team {
      background: #52cbbf3d;
      color: #5B58FA;
      width: 200px;
      left: 620px;
  }
  
  
  
  .tab-home {
      background-color: #52cbbf3d;
      color: #5B58FA;
      left: 620px;
  
      
  }
  span.tab-home {
      background-color: #3ef00800;
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #5B58FA;
      top: -5px;
      left: 15px;
      text-decoration: none;
      
  }
  
  
  .roxinho{
      width: 20px;
      margin-left: -8px;
      margin-top: 5px;
  }
  
  
  span.calendario{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      background: #52cbbf3d;
      color: #5B58FA;
      top: -5px;
      left: 15px;
  
  }
  
  .calendario{
      width: 20px;
      margin-left: -08px;
      margin-top: 5px;
  
  
  }
  
  img.perfil{
      width: 60px;
      right: 8.5%;
      position: absolute;
      z-index: 2000;
  }
  img.perfil{
      cursor: pointer;
  }
  .sino{
      width: 20px;
      margin-left: -08px;
      margin-top: 5px;
  }
  span.sino{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #5B58FA;
      top: -5px;
      left: 15px;
  
  
  }
  
  .tab-sino {
      background:#52cbbf3d;
      color: #5B58FA;
      left: 620px;
  }
  
  a{
      text-decoration: none;
  }
  
  .chat{
      width: 20px;
      margin: auto;
      margin-bottom: 5px;
  }
  img.chat{
      width: 20px;
      margin-left: 8px;
      margin-top: 5px;
  }
  span.chat{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #5B58FA;    
      top: -6px;
      left: 10px;
  
  }
  
  .tab-chat {
      background: #52cbbf3d;
      color: #5B58FA;
      left: 620px;
      height: 30px;
  
  }
  
  
  img.tarefas{
      width: 22px;
      height: 22px;
      margin-left: -57px;
      margin-top: px;
      background: #52cbbf3d;
  
  }
  span.tarefas{
      font-family: "Ubuntu", sans-serif;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      transition: 0.3s ease;
      color: #5B58FA;
      top: 0px;
      background: #ecd1dd00;
      left: 5px;
  
  
  }
  .tab-tarefas {
      background: #52cbbf3d;
      color: #5B58FA;
      left: 620px;
      height: 30px;
  }
  
  .dropDown{
      position: absolute;
      right: 3%;
      z-index: -1;
      overflow: scroll;
      overflow-x: hidden;
  
      width: 12.5%;
      height: 200px;
      margin: auto;
  }
  
  .dropDownPositionOpen{
      top: 8.3%;
      transition: 0.5s ease-in-out;
  }
  .dropDownPositionClose{
      top: -25%;
      transition: 0.5s ease;
  }
  .dropDown h5{
      font-size: 0.7em;
      cursor: pointer;
      border-radius: 1em;
      color: #000 !important;
      padding: 0.5em;
  }
  #sizeSair{
      font-size: 1em !important;
  }
  
  .dropDown a{
      list-style: none;
      text-decoration: none;
      color: #000;
  }
  
  .dropIcon{
      position: absolute;
      right: 6%;
      top: 50%;
      width: 35px;
      margin: auto;
      transform: rotate(90deg);
      border-radius: 50%;
      padding: 0.2em;
  }
  
  .dropIcon:hover{
      background-color: #dadada;
      cursor: pointer;
      transition: 0.2s linear;
  }
  
  .PlaceTextPerfil{
    position: absolute;
      width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
      padding-top: 0.5em;
  
  }
  
  .PlaceTextFormulario{
    position: absolute;
    top: 35%;
    width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
  
  }
  
  .PlaceTextSuporte{
      position: absolute;
      top: 60%;
      width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
  
  }
  
  .placeLinhaSeparar{
      position: absolute;

      bottom: -10%;
  
      width: 100%;
      margin: auto;
  }
  
  .linhaSeparar{
      margin: auto;
      width: 60%;
      height: 1px;
      background-color: #000;
  }
  
  .PlaceTextSair{
      position: absolute;
      bottom: -50%;
      width: 100%;
  }

  .dropDown h5:hover{
    background-color: #11ffe72c;
    transition: all 0.5s linear;
}

.dropDown{
    background-color: #e7e7ff;
}  

.hide{
  display: none;
}


