 
 @import url('https://fonts.googleapis.com/css?family=Poppins');

 *{
     font-family: Poppins;
 }

body{
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size:17px ;
    font-family: 'Poppins';
}

footer h3{
    font-size:20px ;
    font-family: 'Poppins';
}

 
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: Poppins;
}

body{
   background-color: white;
   align-items: center;
   text-align: center;
   margin: 0;
   font-size:17px ;
   font-family: 'Poppins';
   color: black;
}
header{
    background-image: url(../img/Inserir_um_título__3_-removebg-preview.png);
    margin-top: 0%;
    background-repeat: no-repeat ;
    background-size: 100% 150% ;
    }

.logoSeed{
    
    left: 0%;
    top: -45%;
    width: 280px;
    margin: auto;
}
.home{
   position: absolute;
   width: 100%;
   height: 75%;
   margin: 0 ;
   background-image: url(../img/perfil/16-removebg-preview.png);
   background-size: 102% 150%;
   background-repeat: no-repeat ;
   
  

}

.btn_Home{
   margin-top: 2rem;
   padding: 0.4rem;
   height: 4rem;
   width: 10rem;
   background: linear-gradient(to left, #4776E6, #8e54e9);
   cursor: pointer;
   color: white;
   font-size: 20px;

   border-radius: 30px;
   transition: all 0.3s ease;
}



.btn_Home:hover {
    letter-spacing: 0.5px; /*específica o comportamento do espaçamento entre caracteres de texto*/
    background: linear-gradient(to right, #4776E6, #8e54e9);
}

.home div{
   color: white;
 
   font-size: 30px;
    position: absolute;
    top: 15%;
    left: 20%;
    margin: 10px;
    padding: 20px;

}


.computer{
    margin-left: 80rem;
    width: 600px;
    height: 550px;
    border-color: black;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
    margin-top: 800px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.Im_card{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
  
/* Animação */

[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -50px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }



/*Comparação*/

.img-comp-container {
    position: relative;
    height: 50vh;
    margin-left: 500px;
  
}


.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;

}


.img-comp-img img {
    display: block;
    vertical-align: middle;
}


.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: rgb(15, 177, 136);
    opacity: 0.7;
    border-radius: 50%;
}


.align-comparation{
    height: 50vh;
    width: 50vw;
    padding: 0;
    margin-top:25px;
    margin-left: 30px;
}



/*Fim Comparação*/


.sessao-aluno{
    margin-top: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:10px;
    
}

.alunos1{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #8C52FF;
    width: 320px;
    border: black;
    border-radius: 30px;
    box-shadow: 10px 10px  #8c52ff62;
    height: 450px;
}


.alunos2{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#FF66C4;
    width: 320px;
    border-radius: 30px;
    box-shadow: 10px 10px  #ff66c442;
    margin-left: 150px;
    height: 450px;
}

.alunos3{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#eb8a52;
    width: 320px;
    border-radius: 30px;
    box-shadow: 10px 10px  #eb8a526b;
    margin-left: 150px;
    height: 450px;
   
}



.img_div1{    
    margin-left:50px;
    margin-top: -85px;
    height: 500px;
    width: 500px;
    position: relative;
  
}

.img_div2{    
    margin-left:50px;
    margin-top: -85px;
    height: 500px;
    width: 500px;
    position: relative;
}

.img_div3{    
    margin-left:50px;
    margin-top: -85px;
    height: 500px;
    width: 500px;
    position: relative;
    
}


footer h5{
    color: white;
    margin-top: 50px;
    font-size: 15px;
    
  
}
footer h4{
    color: white;
    margin-top: 15px;
    font-size: 18px;
    
}

.sec-publi{
    position: relative;
    bottom: 0;
    left: 0;
    background-image: url(../img/ondas-removebg-preview.png);
    background-repeat: no-repeat;
    background-size:cover;
}





