 
 @import url('https://fonts.googleapis.com/css?family=Poppins');

 *{
     font-family: Poppins;
 }

body{
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size:17px ;
    font-family: 'Poppins';
}

h3{
    font-size:20px ;
    font-family: 'Poppins';
}
.sessao-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
}



.home-img{
    height: 550px;
    width: 600px;
    margin-left: 800px;
    margin-top: 320px;
}




.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    background-color: #009ffb;
    margin-top: 300px;
    left: 120px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.tarefas{
    background-color: #cffcff7c;
    height: 280px;
    width: 40%;
    margin-left: 50px;
    margin-top: 300px;
    position: absolute;
    text-align: left;
    padding-left: 50px;
    border-radius: 50px;


}

h2.tarefas{
    width: 40%;
    margin-top:100px;
    left: 50px;
    position: absolute;
}

p.tarefas{
    width: 40%;
    margin-top:150px;
    left: 150px;
    position: absolute;
    justify-content: left;
    text-align: left;

}

h2.chat{
    width: 40%;
    margin-top:100px;
    left: 1000px;
    position: absolute;
}

p.chat{
    width: 40%;
    margin-top:200px;
    left: 1000px;
    position: absolute;
    justify-content: left;
    text-align: right;

}

img.chat{
    width: 600px;
    margin-right: 900px;
}


  
/* Animação */

[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -50px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }



/*Comparação*/

.img-comp-container {
    position: relative;
    height: 50vh;
    margin-left: 500px;
  
}


.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;

}


.img-comp-img img {
    display: block;
    vertical-align: middle;
}


.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: rgb(15, 177, 136);
    opacity: 0.7;
    border-radius: 50%;
}


.align-comparation{
    height: 50vh;
    width: 50vw;
    padding: 0;
    margin-top:25px;
    margin-left: 30px;
}



/*Fim Comparação*/


.sessao-aluno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:10px;
    
}

.alunos1{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #8C52FF;
    width: 320px;
    border: black;
    border-radius: 30px;
    box-shadow: 10px 10px  #8c52ff62;
    height: 450px;
}


.alunos2{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#FF66C4;
    width: 320px;
    border-radius: 30px;
    box-shadow: 10px 10px  #ff66c442;
    margin-left: 150px;
    height: 450px;
}

.alunos3{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color:#eb8a52;
    width: 320px;
    border-radius: 30px;
    box-shadow: 10px 10px  #eb8a526b;
    margin-left: 150px;
    height: 450px;
   
}



.img_div1{    
    margin-left:50px;
    margin-top: -85px;
    height: 500px;
    width: 500px;
    position: relative;
  
}

.img_div2{    
    margin-left:50px;
    margin-top: -85px;
    height: 500px;
    width: 500px;
    position: relative;
}

.img_div3{    
    margin-left:50px;
    margin-top: -85px;
    height: 500px;
    width: 500px;
    position: relative;
    
}


h5{
    color: white;
    margin-top: 50px;
    font-size: 15px;
    
  
}
h4{
    color: white;
    margin-top: 15px;
    font-size: 18px;
    
}

.sec-publi{
    position: relative;
    bottom: 0;
    left: 0;
    background-image: url(../img/ondas-removebg-preview.png);
    background-repeat: no-repeat;
    background-size:cover;
}



    .sec-publi div{
        position: absolute;
        top: 25%;
        left: 40%;

        width: 510px;
        margin: 10px;
        background-color: white;
        border-radius: 0px 30px;
        border: 1px solid #0127ff;
        padding: 20px;
        box-shadow: 3px 3px #0021db;
        margin-left: 30px;
       
    }

    .sec-publi h1{
        font-weight: 1000;
    }


.btn2{
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #009ffb; 
   cursor: pointer;
}
