@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



body {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
i{
        margin-top:5px;

}
span.tarefas{
        left:03px;
        top:5px;
}
span.chat{
        left:09px;
        top:5px;
}

/*CARDS*/

  h1{
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
  }

  
  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;

  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back{
    background: #d49f0b;
    background: -webkit-linear-gradient(45deg,  #0e4168 0%,#ce8911 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #7954b1 0%,#8c5bd4 100%);
    font-family: 'Poppins';
    text-align: left;
    font-size: 20px;
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #8F47FA;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: px;
    margin-bottom: 2rem;
    position: relative;
    font-family: 'Poppins';
    color: #fff;
    font-weight: bolder;  
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    background: rgba(75, 0, 110, 0.7);
    left: 80px;
    margin-top: 80px;
    right: 0;
    font-family: 'Poppins';
    position: absolute;

  }
  
  .front .inner span{
    color: rgba(75, 0, 110, 0.7);
    font-family: 'Poppins';
    font-weight: 300;
  }

  .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
      }
      .modalDialog:target {
        opacity: 1;
        pointer-events: auto;
      }
      .modalDialog > div {
        width: 800px;
        height: 500px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: rgb(233, 232, 232);
      }
      .modalDialog p{
        text-align: left;
      }
      .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        z-index: 2000 !important;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
      }
      .close:hover {
        background: #00d9ff;
      }


.mais{
    width: 50px;
    
}

a.mais{
        color: white;
}

img.mais{
        width: 50px;
        margin-top:250px;
        margin-left: -95px;
        z-index: 2000 !important;
        cursor: pointer;  
        position: relative;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0);


}

img.mais:hover{
        transition: 0.5s;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50%;
        width: 52px;

         
}

.dropDown h5:hover{
        background-color: #40b9ff;
        transition: all 0.5s linear;
    }
    
    .dropDown{
        background-color: #f7fcff;
    }



/*Css Menu*/

@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");

body{
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: 'Poppins';
}

.overlay {
    height: 69vh;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.nav {
    background-color: white;
    padding: 12px 5px;
    box-shadow: 3px 3px 15px rgba(179, 179, 179, 0.185);
    position: relative;
    z-index: 99;
}

.tabs {
    display: flex;
    width: 530px;
    justify-content: space-around;
    list-style-type: none;
}

.tab {
    padding: 12px 22px;
    background-color: #e0efff;
    color: #58a6ff;
    margin-right: 15px;
    border-radius: 55px;
    text-align: center;
    white-space: nowrap;
    transition: 0.7s ease;
    overflow: hidden;
    max-width: 0px;
    cursor: pointer;
    position: relative;
    flex-basis: 120px;
}

.tab-is-active {
    max-width: 120px;
    box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
}

.tab:hover {
    max-width: 120px;
    box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
    position: relative;
}

.tab-is-active .tab-name {
    opacity: 1;
}

.tab-circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid #95c5fd;
    z-index: 10;
    opacity: 0;
    left: 20px;
    pointer-events: none;
}

.tab-icon {
    margin-right: 1px;
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    right: 6.7px;
    top: -1px;

}

.tab-name {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    top: 1px;
    opacity: 0;

}

.tab-calendar {
    background: #cffcff;
    color: #009ffb;
    left: 620px;

}

span.tab-team {
    background: #f1ddff;
    color: #8f44fd;
    width: 200px;
    margin-left: -10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    top: -5px;
    left: 15px;


}
.tab-team {
    background: #f1ddff;
    color: #8f44fd;
    width: 200px;
    left: 620px;
}



.tab-home {
    background-color: #3ef00846;
    color: #35e77f;
    left: 620px;

    
}
span.tab-home {
    background-color: #3ef00800;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #19E164;
    top: -5px;
    left: 15px;
    text-decoration: none;
    
}


.roxinho{
    width: 20px;
    margin-left: -8px;
    margin-top: 5px;
}


span.calendario{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #009ffb;
    top: -5px;
    left: 15px;

}

.calendario{
    width: 20px;
    margin-left: -08px;
    margin-top: 5px;


}

img.perfil{
    width: 60px;
    right: 8.5%;
    position: absolute;
    z-index: 2000;
}
img.perfil{
    cursor: pointer;
}
.sino{
    width: 20px;
    margin-left: -08px;
    margin-top: 5px;
}
span.sino{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #009ffb;
    top: -5px;
    left: 15px;


}

.tab-sino {
    background:#E0EFFD;
    color: #009ffb;
    left: 620px;
}

a{
    text-decoration: none;
}

.chat{
    width: 20px;
    margin-left: -08px;
    margin-top: 5px;
}
img.chat{
    width: 20px;
    margin-left: 8px;
    margin-top: 5px;
}
span.chat{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #FF833E;    
    top: 0px;
    left: 10px;

}

.tab-chat {
    background:#FFEACA;
    color: #FF833E;
    left: 620px;
    height: 30px;

}


img.tarefas{
    width: 22px;
    height: 22px;
    margin-left: -57px;
    margin-top: px;
    background: #ecd1dd00;

}
span.tarefas{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #d93479;
    top: 0px;
    background: #ecd1dd00;
    left: -85px;


}
.tab-tarefas {
    background: #ecd1dd;
    color: #d93479;
    left: 620px;
    height: 30px;
}

  .dropDown{
      position: absolute;
      right: 3%;
      z-index: -1;
      overflow: scroll;
      overflow-x: hidden;
  
      width: 12.5%;
      height: 200px;
      margin: auto;
  }
  
  .dropDownPositionOpen{
      top: 8.3%;
      transition: 0.5s ease-in-out;
  }
  .dropDownPositionClose{
      top: -25%;
      transition: 0.5s ease;
  }
  .dropDown h5{
      font-size: 0.7em;
      cursor: pointer;
      border-radius: 1em;
      color: #000 !important;
      padding: 0.5em;
  }
  #sizeSair{
      font-size: 1em !important;
  }
  
  .dropDown a{
      list-style: none;
      text-decoration: none;
      color: #000;
  }
  
  .dropIcon{
      position: absolute;
      right: 6%;
      top: 50%;
      width: 35px;
      margin: auto;
      transform: rotate(90deg);
      border-radius: 50%;
      padding: 0.2em;
  }
  
  .dropIcon:hover{
      background-color: #dadada;
      cursor: pointer;
      transition: 0.2s linear;
  }
  
  .PlaceTextPerfil{
    position: absolute;
      width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
      padding-top: 0.5em;
  
  }
  
  .PlaceTextFormulario{
    position: absolute;
    top: 35%;
    width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
  
  }
  
  .PlaceTextSuporte{
      position: absolute;
      top: 60%;
      width: 100%;
      height: 33.3%;
      margin: auto;
      font-size: 1.5em;
  
  }
  
  .placeLinhaSeparar{
      position: absolute;

      bottom: -10%;
  
      width: 100%;
      margin: auto;
  }
  
  .linhaSeparar{
      margin: auto;
      width: 60%;
      height: 1px;
      background-color: #000;
  }
  
  .PlaceTextSair{
      position: absolute;
      bottom: -50%;
      width: 100%;
  }


  .dropDown h5:hover{
        background-color: #8F47FA;
        transition: all 0.5s linear;
    }
    
    .dropDown{
        background-color: #F1DDFD;
    }