@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
i{
        margin-top:5px;

}
span.tarefas{
        left:03px;
        top:5px;
}
span.chat{
        left:09px;
        top:5px;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: 850px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    overflow: scroll;
    padding-left: 80px;
    overflow-x: hidden;
  }
  .modalDialog p{
    text-align: left;
  }
  .close {
    background: #ffffff;
    color: #af0909;
    line-height: 25px;
    position: absolute;
    right: 20px;
    text-align: center;
    z-index: 2000 !important;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  .close:hover {
    background: #bf7dea;
    color: white;
  }


.mais{
width: 50px;

}

a.mais{
    color: rgba(245, 24, 24, 0);
}

img.mais{
    width: 50px;
    margin-top: -3.2%;
    margin-left: -21.5%;
    z-index: 2000 !important;
    cursor: pointer;  
    position: fixed;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);


}

img.mais:hover{
    border-radius: 50%;
    width: 52px;
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
    transition: 0.1s;
    filter: drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.575));

     
}

a.mais2{
    color: rgba(245, 24, 24, 0);
}

img.mais2{
    width: 50px;
    margin-top: -3.2%;
    margin-left: 8%;
    z-index: 2000 !important;
    cursor: pointer;  
    position: fixed;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);


}

img.mais2:hover{
    transition: 0.5s;
    border-radius: 50%;
    width: 52px;
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
    transition: 0.1s;
    filter: drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.575));
}

a.mais3{
    color: rgba(245, 24, 24, 0);
}

img.mais3{
    width: 50px;
    margin-top: -3.2%;
    margin-left: 37.5%;
    z-index: 2000 !important;
    cursor: pointer;  
    position: fixed;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);


}

img.mais3:hover{
    transition: 0.5s;
    border-radius: 50%;
    width: 52px;
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
    transition: 0.1s;
    filter: drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.575));

}

img.membros{
    width: 200px;
    margin-top: -40px;
    cursor: pointer;
    margin-left: -580px;
}
img.membros:hover{
    width: 207px;
    margin-top: -40px;
    cursor: pointer;
    transition: 0.3s;
}    
p.membros{
    margin-top: 30px;
    font-weight: bold;
}
img.titulo{
    width: 600px;
    margin-left:-400px;
    margin-top:-6px;


}

h2.titulo{
    font-family: 'Poppins', sans-serif;;
    font-weight: 600;
    margin-top: -310px;
    margin-left: -480px;
    color: #6100FF;
    font-size: 30px;
}


p.form{
    color: #000;
    font-weight: bolder;
    text-align: left;
}

form.form{
    text-align: left;
}

p.form2{
    color: #000;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 8px;
}

select{
    display: none;
}




@import url('https://fonts.googleapis.com/css?family=Poppins');


  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40px,1fr));
    padding: 20px;
    grid-gap: 40px;
    margin-top: -40%;
    margin-left: 100px;
    margin-right: 100px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    width: 450px;

}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    overflow: hidden;
    width: 450px;
}
.Im_card{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:hover{
    transition: 0.3s;
    opacity: .7;
    cursor: pointer;
    
}
.card2>.container:hover{
    transition: 0.3s;
    opacity: .7;
    cursor: pointer;

    
}
.card3>.container:hover{
transition: 0.3s;
opacity: .7;
cursor: pointer;


}
.details{    
    padding: 20px 10px;
    margin-top: -20px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
    font-family: "Poppins";
}
.details>p{
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Poppins";

}
/*Css Menu*/

    @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");

    body{
        background-color: white;
        align-items: center;
        text-align: center;
        margin: 0;
        font-family: 'Poppins';
    }

    .overlay {
        height: 69vh;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
    }

    .nav {
        background-color: white;
        padding: 12px 5px;
        box-shadow: 3px 3px 15px rgba(179, 179, 179, 0.185);
        position: relative;
        z-index: 99;
    }

    .tabs {
        display: flex;
        width: 530px;
        justify-content: space-around;
        list-style-type: none;
    }

    .tab {
        padding: 12px 22px;
        background-color: #e0efff;
        color: #58a6ff;
        margin-right: 15px;
        border-radius: 55px;
        text-align: center;
        white-space: nowrap;
        transition: 0.7s ease;
        overflow: hidden;
        max-width: 0px;
        cursor: pointer;
        position: relative;
        flex-basis: 120px;
    }

    .tab-is-active {
        max-width: 120px;
        box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
    }

    .tab:hover {
        max-width: 120px;
        box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
        position: relative;
    }

    .tab-is-active .tab-name {
        opacity: 1;
    }

    .tab-circle {
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        border: 2px solid #95c5fd;
        z-index: 10;
        opacity: 0;
        left: 20px;
        pointer-events: none;
    }

    .tab-icon {
        margin-right: 1px;
        font-size: 18px;
        vertical-align: middle;
        position: relative;
        right: 6.7px;
        top: -1px;

    }

    .tab-name {
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease;
        top: 1px;
        opacity: 0;

    }

    .logoSeed{
        position: absolute;
        left: 0%;
        top: -2vh;
        width: 280px;
        margin: auto;
    }

    .tab-calendar {
        background: #52cbbf3d;
        color: #5B58FA;
        left: 620px;

    }

    span.tab-team {
        background: #52cbbf00;
        color: #5B58FA;
        width: 200px;
        margin-left: -10px;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease;
        top: -5px;
        left: 15px;


    }
    .tab-team {
        background: #52cbbf3d;
        color: #5B58FA;
        width: 200px;
        left: 620px;
    }



    .tab-home {
        background-color: #52cbbf3d;
        color: #5B58FA;
        left: 620px;

        
    }
    span.tab-home {
        background-color: #3ef00800;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease;
        color: #5B58FA;
        top: -5px;
        left: 15px;
        text-decoration: none;
        
    }


    .roxinho{
        width: 20px;
        margin-left: -8px;
        margin-top: 5px;
    }


    span.calendario{
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease;
        background: #52cbbf00;
        color: #5B58FA;
        top: -5px;
        left: 15px;

    }

    .calendario{
        width: 20px;
        margin-left: -08px;
        margin-top: 5px;


    }

    img.perfil{
        width: 60px;
        right: 8.5%;
        position: absolute;
        z-index: 2000;
    }
    img.perfil{
        cursor: pointer;
    }
    .sino{
        width: 20px;
        margin-left: -08px;
        margin-top: 5px;
    }
    span.sino{
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease;
        color: #5B58FA;
        top: -5px;
        left: 15px;


    }

    .tab-sino {
        background:#52cbbf3d;
        color: #5B58FA;
        left: 620px;
    }

    a{
        text-decoration: none;
    }

    .chat{
        width: 20px;
        margin: auto;
        margin-bottom: 5px;
    }
    img.chat{
        width: 20px;
        margin-left: 8px;
        margin-top: 5px;
    }
    span.chat{
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease;
        color: #5B58FA;    
        top: -6px;
        left: 10px;

    }

    .tab-chat {
        background: #52cbbf3d;
        color: #5B58FA;
        left: 620px;
        height: 30px;

    }


    img.tarefas{
        width: 22px;
        height: 22px;
        margin-left: -57px;
        margin-top: px;
        background: #52cbbf3d;

    }
    span.tarefas{
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease;
        color: #5B58FA;
        top: 0px;
        background: #ecd1dd00;
        left: 3px;


    }
    .tab-tarefas {
        background: #52cbbf3d;
        color: #5B58FA;
        left: 620px;
        height: 30px;
    }


    .dropDown{
        position: absolute;
        right: 3%;
        z-index: -1;
        overflow: scroll;
        overflow-x: hidden;
    
        width: 12.5%;
        height: 200px;
        margin: auto;
    }
    
    .dropDownPositionOpen{
        top: 8.3%;
        transition: 0.5s ease-in-out;
    }
    .dropDownPositionClose{
        top: -25%;
        transition: 0.5s ease;
    }
    .dropDown h5{
        font-size: 0.7em;
        cursor: pointer;
        border-radius: 1em;
        color: #000 !important;
        padding: 0.5em;
    }
    #sizeSair{
        font-size: 1em !important;
    }
    
    .dropDown a{
        list-style: none;
        text-decoration: none;
        color: #000;
    }
    
    .dropIcon{
        position: absolute;
        right: 6%;
        top: 50%;
        width: 35px;
        margin: auto;
        transform: rotate(90deg);
        border-radius: 50%;
        padding: 0.2em;
    }
    
    .dropIcon:hover{
        background-color: #dadada;
        cursor: pointer;
        transition: 0.2s linear;
    }
    
    .PlaceTextPerfil{
        position: absolute;
        width: 100%;
        height: 33.3%;
        margin: auto;
        font-size: 1.5em;
        padding-top: 0.5em;
    
    }
    
    .PlaceTextFormulario{
        position: absolute;
        top: 35%;
        width: 100%;
        height: 33.3%;
        margin: auto;
        font-size: 1.5em;
    
    }
    
    .PlaceTextSuporte{
        position: absolute;
        top: 60%;
        width: 100%;
        height: 33.3%;
        margin: auto;
        font-size: 1.5em;
    
    }
    
  
    .placeLinhaSeparar{
        position: absolute;
  
        bottom: -10%;
    
        width: 100%;
        margin: auto;
    }
    
    .linhaSeparar{
        margin: auto;
        width: 60%;
        height: 1px;
        background-color: #000;
    }
    
    .PlaceTextSair{
        position: absolute;
        bottom: -50%;
        width: 100%;
    }
  
    

    .dropDown h5:hover{
        background-color: #11ffe72c;
        transition: all 0.5s linear;
    }

    .dropDown{
        background-color: #e7e7ff;
    }  